* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #ffffff;
  background-color: #5ca720;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.main-cotent {
  width: 80vw;
}
.tabs-btn {
  background-color: #f9f9f9;
  border: 1px solid #a5a1a1;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  overflow: auto;
}

.tabs-btn button {
  background-color: #f9f9f9;
  border: none;
  outline: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  padding: 10px 15px;
  margin: 3px 2px 0 2px;
  font-weight: 700;
  color: #161616;
  float: left;
}
.tabs-btn button:hover {
  background-color: #5ca720;
  color: #f9f9f9;
}

.tabs-btn button.active {
  background-color: #f9f9f9;
  color: #5ca720;
}
.tab-desc {
  border: 1px solid black;
  border-top: none;
  padding: 6px 12px;
  display: none;
}
